.ft-1 {
  font-size: 1px !important;
}

.ft-2 {
  font-size: 2px !important;
}

.ft-3 {
  font-size: 3px !important;
}

.ft-4 {
  font-size: 4px !important;
}

.ft-5 {
  font-size: 5px !important;
}

.ft-6 {
  font-size: 6px !important;
}

.ft-7 {
  font-size: 7px !important;
}

.ft-8 {
  font-size: 8px !important;
}

.ft-9 {
  font-size: 9px !important;
}

.ft-10 {
  font-size: 10px !important;
}

.ft-11 {
  font-size: 11px !important;
}

.ft-12 {
  font-size: 12px !important;
}

.ft-13 {
  font-size: 13px !important;
}

.ft-14 {
  font-size: 14px !important;
}

.ft-15 {
  font-size: 15px !important;
}

.ft-16 {
  font-size: 16px !important;
}

.ft-17 {
  font-size: 17px !important;
}

.ft-18 {
  font-size: 18px !important;
}

.ft-19 {
  font-size: 19px !important;
}

.ft-20 {
  font-size: 20px !important;
}

.ft-21 {
  font-size: 21px !important;
}

.ft-22 {
  font-size: 22px !important;
}

.ft-23 {
  font-size: 23px !important;
}

.ft-24 {
  font-size: 24px !important;
}

.ft-25 {
  font-size: 25px !important;
}
